.todoForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todoInput {
  width: 80%;
  height: 50px;
  padding: 0 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 18px;
  border: none;
  outline: none;
}

.todoInput::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #d5d5d5;
}

.todoBtn {
  height: 50px;
  width: 20%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  background-color: #d2bee6;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.todoBtn:hover {
  background-color: #ba9fd6;
}
