.todoForm {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.todoInput {
  width: 70%;
  height: 50px;
  padding: 0 25px;
  font-size: 20px;
  border-radius: 7px 0 0 7px;
  border: none;
}

.todoBtn {
  height: 50px;
  width: 10%;
  font-size: 20px;
  border-radius: 0 7px 7px 0;
  background-color: rgb(178, 220, 27);
  border: none;
  cursor: pointer;
}
