.todoItem {
  width: 100%;
  height: 65px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #303a08;
  background: #fff;
  border-top: 1px solid #f5f5f5;
  transition: 0.4s;
}

.todoText {
  padding-right: 15px;
  flex-grow: 1;
}

.todoEditableInput {
  width: 90%;
  padding: 4px 0;
  flex-grow: 1;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #d2bee6;
  outline: none;
}

.todoEditableBtn {
  width: 10%;
  height: 28px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 12px;
  background-color: #d2bee6;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.todoEditableBtn:hover {
  background-color: #ba9fd6;
}

.todoText:focus {
  outline: none;
}

.todoItemDone {
  text-decoration: line-through;
  color: #306e8972;
}

.todoItemMarked {
  background-color: #eff1cf;
}

.todoCloseBtn {
  width: 15px;
  height: 15px;
  background: url(../../images/cancel.svg) no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.todoCloseBtn:hover {
  transform: rotate(90deg);
}

.todoDoneBtn {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: url(../../images/tick.svg) no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.todoEditBtn {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: url(../../images/pen.svg) no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
}
