.todoList {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todoListBody {
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.todoListTitle {
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 800;
  color: #d2bee6;
}
